# Ignore raw data
data/
    *.edf
    *.npz

# Ignore Python cache
__pycache__/
*.pyc

# Ignore virtual environments
venv311/
.env/

# Ignore 
data2/
    X.npy
    y.npy
    
# Ignore configuration files
# Ignore plots
plots/
training_metrics_train_err.csv
training_metrics_val_err.csv
training_metrics_train_loss.csv
training_metrics_val_loss.csv

# Ignore model checkpoints
mlruns/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore logs
results_log.txt

# Ignore jupyter notebook files
#*.ipynb

# Ignore 1.pth
1.pth